<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3 ml-3"> Listado de Empleados</span>

<div class="float-right mr-3 mt-3">
  <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
</div><br>

      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tomas</td>
            <td>Perez</td>
            <td>3445655</td>
            <td>24500</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-3"></i>
              <i class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
          <tr>
            <td>Tomas</td>
            <td>Perez</td>
            <td>3445655</td>
            <td>2450000</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-3"></i>
              <i class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
          <tr>
            <td>Tomas</td>
            <td>Perez</td>
            <td>3445655</td>
            <td>2450000</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-3"></i>
              <i class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>

        </tbody>
      </table>



    </div>
  </div>

</div>
